---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

// Fetch all blog posts
const allPosts = await getCollection("blog");

// Shuffle posts and select 3 random posts
const shuffledPosts = allPosts.sort(() => 0.5 - Math.random()).slice(0, 3);

const { heading = "You May Also Enjoy", description = "Check out more articles from our blog!" } = Astro.props;
---

<section
  id="random-posts"
  class="relative isolate overflow-hidden bg-white px-6 pt-10 pb-24 sm:pb-32 lg:overflow-visible lg:px-0"
>
  <div class="mx-auto max-w-6xl lg:pr-4">
    <div class="my-9">
      <h2
        class="mt-0 text-center text-3xl lg:text-5xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        {heading}
      </h2>
      <p class="mt-1 text-center text-xl leading-8 text-gray-700">
        {description}
      </p>
    </div>
  </div>
  <div class="w-full flex flex-wrap gap-3 lg:gap-6 mx-auto justify-center">
    {shuffledPosts.map((post) => (
      <article
        class="relative group w-full lg:m-0 md:w-2/5 lg:w-1/4 isolate flex flex-col justify-end overflow-hidden rounded-md bg-white px-8 pb-8 pt-48 hover:ring-1 hover:ring-accent duration-200"
      >
        <img
          src={post.data.heroImage}
          alt={post.data.title}
          loading="lazy"
          class="absolute inset-0 -z-10 h-full w-full object-cover group-hover:scale-110 group-hover:brightness-125 duration-200"
        />
        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-primary-dark to-primary-dark/20 group-hover:bg-primary/60 duration-200" />
        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10" />

        <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-100">
          <time datetime={post.data.pubDate} class="mr-8 text-accent-400">
            <FormattedDate date={post.data.pubDate} />
          </time>
          <div class="-ml-4 flex items-center gap-x-4">
            <svg
              viewBox="0 0 2 2"
              class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
            >
              <circle cx="1" cy="1" r="1" />
            </svg>
            <div class="flex font-bold text-base text-accent-200">
              {post.data.author}
            </div>
          </div>
        </div>
        <h3 class="mt-3 text-lg font-black leading-6 text-primary-100">
          <a href={`/blog/${post.slug}/`}>
            <span class="absolute inset-0" />
            {post.data.title}
          </a>
        </h3>
      </article>
    ))}
  </div>
</section>
