---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { data } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[data.imagePath])
  throw new Error(
    `"${data.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">
      {data.upperHeading}
    </p>
    <h2 class="mt-2 mb-6 text-5xl font-bold tracking-tight text-gray-900">
      {data.heading}
    </h2>
    {
      data.descriptions.map((desc) => (
        <p class="mb-3 text-xl leading-8" set:html={desc} />
      ))
    }
    <div class="mt-10 max-w-2xl">
      <h3 class="mt-16 mb-6 text-4xl font-bold tracking-tight text-gray-900">
        {data.content1.title}
      </h3>
      {
        data.content1.paragraphs.map((para) => (
          <p class="mb-3" set:html={para} />
        ))
      }
    </div>
    <figure class="mt-16">
      <Image
        src={images[data.imagePath]()}
        alt={data.imageAlt}
        class="aspect-square rounded-xl bg-gray-50 object-cover"
        quality={80}
      />
      <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-gray-500">
        <svg
          class="mt-0.5 h-5 w-5 flex-none text-gray-300"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
            clip-rule="evenodd"></path>
        </svg>
        {data.imageCaption}
      </figcaption>
    </figure>
    <div class="mt-16 max-w-2xl">
      <h2 class="text-4xl mb-6 font-bold tracking-tight text-gray-900">
        {data.content2.title}
      </h2>
      {
        data.content2.paragraphs.map((para) => (
          <p class="mb-3" set:html={para} />
        ))
      }
    </div>
    {
      data.finalParagraphs && (
        <div class="mt-8 pt-4 max-w-2xl border-t-2 border-primary-500">
          {data.finalParagraphs.map((para) => (
            <p class="mb-3 text-xl leading-8" set:html={para} />
          ))}
        </div>
      )
    }
  </div>
</div>
