---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import DownloadChecklist from "./DownloadChecklist";
import DownloadKeywords from "./DownloadKeywords";
import DownloadTemplate from "./DownloadTemplate";
import DownloadGmb from "./DownloadGMB";
import DownloadBook from "./DownloadBook";
import { YouTube } from 'astro-embed';

const { data } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[data.imagePath])
  throw new Error(
    `"${data.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div
  id="download-cta"
  class="relative isolate pb-5 z-10 overflow-hidden bg-white px-6 pt-24 sm:pt-32 lg:overflow-visible lg:px-0"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none"></path>
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"></path>
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 row-start-2 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-primary-700">
            {data.upperHeading}
          </p>
          <h1
            class="mt-0 mb-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl capitalize"
          >
            {data.heading}
          </h1>
          {
            data.descriptions.map((desc) => (
              <p class="mt-2 text-xl leading-7 text-gray-700" set:html={desc} />
            ))
          }
          {
            data.buttons && (
              <div class="mt-12 flex flex-wrap justify-start align-middle items-center gap-6 z-10">
                {data.buttons.map((btn) => (
                  <div>
                    {btn.modal && btn.name.includes("Checklist") && (
                      <DownloadChecklist client:visible />
                    )}
                    {btn.modal && btn.name.includes("Guide") && (
                      <DownloadKeywords client:visible />
                    )}
                    {btn.modal && btn.name.includes("Template") && (
                      <DownloadTemplate client:visible />
                    )}
                    {btn.modal && btn.name.includes("GMB") && (
                      <DownloadGmb client:visible />
                    )}
                    {btn.modal && btn.name.includes("Book") && (
                      <DownloadBook client:visible />
                    )}
                    {!btn.modal && (
                      <a
                        href={btn.link}
                        class={`${btn.primary ? "btn-primary" : "btn-accent"} w-full md:w-auto`}
                      >
                        {btn.name}
                      </a>
                    )}
                  </div>
                ))}
              </div>
            )
          }
        </div>
      </div>
    </div>
    <div
      class="-mt-12 pt-12 lg:col-start-2 lg:row-span-2 row-start-1 lg:row-start-1 lg:overflow-hidden"
    >
    
      <!-- <div style={{ position: 'relative', paddingBottom: '177.78%', height: 0, overflow: 'hidden', maxWidth: '100%', background: '#000' }}>
        <div style={{ position: 'absolute', top: 0, left: 0, width: '100%', height: '100%' }}>
          <YouTube id={data.youtubeUrl} />
        </div>
      </div> -->

      <div class="w-full">
        <iframe 
          class="w-full h-full  aspect-[9/16] lg:w-3/5 lg:h-3/5" 
          src={data.youtubeUrl} 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
