---
const { data } = Astro.props;
---

<section
  class="bg-gradient-to-br from-primary-800 to-primary-dark-800 m-3 md:m-6 py-24 sm:py-32"
>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="lg:mx-0 text-center md:text-left">
      <p
        class="text-base font-semibold leading-7 text-primary-300"
        set:html={data.upperHeading}
      />
      <h2
        class="text-4xl px-3 md:px-0 font-bold tracking-tight text-accent-300"
        set:html={data.heading}
      />
      <p
        class="mt-6 px-3 md:px-0 text-xl leading-8 text-gray-200"
        set:html={data.description}
      />
      <div class="mx-auto mt-16 max-w-5xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl
          class="grid max-w-xl grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3"
        >
          {
            data.features.map((feature, index) => (
              <div class="group flex flex-col bg-primary-600/60 p-6 md:p-8 ring-primary-200/20 rounded-md ring-2 hover:shadow-md hover:ring-primary-200/60 hover:bg-primary-dark-800/60 duration-100 ease-in">
                <dt class="text-xl font-semibold leading-7 text-accent-500">
                  <div class="mb-4 mx-auto md:mx-0 flex h-12 w-12 items-center font-bold text-3xl justify-center rounded-lg text-accent-500 bg-primary-dark-700 group-hover:bg-primary-700 duration-100 delay-75">
                    {index + 1}
                  </div>
                  {feature.title}
                </dt>
                <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-white">
                  <p class="flex-auto">{feature.description}</p>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
      <div class="mt-16 w-full flex justify-center align-middle">
        <a href={data.button.link} class="btn-white">{data.button.text}</a>
      </div>
    </div>
  </div>
</section>
