---
const { data } = Astro.props;
---

<section class="bg-primary-700 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
      <p
        class="text-base font-semibold leading-7 text-primary-200"
        set:html={data.upperHeading}
      />
      <h2
        class="text-4xl font-bold tracking-tight text-white sm:text-5xl"
        set:html={data.heading}
      />
      <p
        class="mt-6 text-lg leading-8 text-primary-100"
        set:html={data.description}
      />
    </div>

    <div class="mx-auto mt-12 max-w-4xl">
      <div class="bg-white/10 backdrop-blur-sm rounded-2xl p-8 lg:p-12">
        <ul class="space-y-4">
          {
            data.points.map((point) => (
              <li class="flex items-start gap-x-3">
                <svg
                  class="mt-1 h-5 w-5 flex-none text-accent-300"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span class="text-lg text-white font-medium">{point}</span>
              </li>
            ))
          }
        </ul>

        <div class="mt-8 p-6 bg-black/30 rounded-lg max-w-2xl mx-auto">
          <div class="flex flex-col items-center">
            <svg
              class="h-20 w-20 text-accent mr-3 mt-0.5"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
              ></path>
            </svg>
            <p
              class="text-gray-100 text-center px-4 lg:px-12 text-lg font-light"
              set:html={data.warning}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
