---
const { upperHeading, heading, services } = Astro.props;
---

<section
  class="lg:m-6 py-16 md:py-20 bg-primary flex flex-col justify-center align-middle items-center"
>
  <h3 class="text-center font-medium text-xl md:text-2xl text-primary-300">
    {upperHeading}
  </h3>
  <h4
    class="text-center px-3 md:px-24 font-medium text-4xl md:text-5xl text-primary-dark"
    set:html={heading}
  />
  <div class="mt-10 px-4 md:px-0 flex flex-wrap justify-center w-full gap-3">
    {
      services.map((service) => (
        <div class="w-full relative min-h-64 rounded-md flex justify-between align-middle items-center p-6 group md:w-1/3 bg-primary-300 hover:ring-2 hover:ring-primary-dark-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="1.5"
            stroke="currentColor"
            class="absolute top-1 right-1 size-44 text-primary-dark/10 duration-150"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d={service.icon}
            />
          </svg>
          <div class="w-4/5">
            <p class="mt-4 font-bold py-2 text-left leading-tight text-2xl uppercase text-primary-dark">
              {service.name}
            </p>
            <p class="mt-2 text-primary-dark-500 text-left">
              {service.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
