---
const { data } = Astro.props;
---

<div
  class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
>
  <div class="mx-auto max-w-6xl text-center lg:pr-4">
    <div class="my-9">
      <p
        class="text-base font-semibold leading-7 text-primary-700"
        set:html={data.upperHeading}
      />
      <h2
        class="mt-0 text-4xl font-bold tracking-tight text-gray-900"
        set:html={data.heading}
      />
      <p class="mt-6 text-xl leading-8 text-gray-700">
        {data.description}
      </p>
    </div>
  </div>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none"></path>
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"></path>
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
    </svg>
  </div>
  <div
    class="mx-auto pt-16 flex justify-center max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end"
  >
    <div
      class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-muted-300 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
    >
      <p class="flex-none text-5xl font-bold tracking-tight text-gray-900">
        {data.stat1.number}
      </p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-gray-900">
          {data.stat1.title}
        </p>
        <p class="mt-2 text-base leading-7 text-gray-600">
          {data.stat1.description}
        </p>
      </div>
    </div>
    <div
      class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-primary-dark-800 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44"
    >
      <p class="flex-none text-5xl font-bold tracking-tight text-white">
        {data.stat2.number}
      </p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-white">
          {data.stat2.title}
        </p>
        <p class="mt-2 text-base leading-7 text-gray-400">
          {data.stat2.description}
        </p>
      </div>
    </div>
    <div
      class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-primary-700 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28"
    >
      <p class="flex-none text-5xl font-bold tracking-tight text-white">
        {data.stat3.number}
      </p>
      <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
        <p class="text-lg font-semibold tracking-tight text-white">
          {data.stat3.title}
        </p>
        <p class="mt-2 text-base leading-7 text-indigo-200">
          {data.stat3.description}
        </p>
      </div>
    </div>
  </div>
</div>
