---
import ImageComp from "./ImageComp.astro";

const { upperHeading, heading, description, team, marketing } = Astro.props;
---

<section
  class="lg:m-6 py-16 md:py-20 bg-primary-900 flex flex-col justify-center align-middle items-center"
>
  <h3 class="text-center font-medium text-xl md:text-2xl text-primary-200">
    {upperHeading}
  </h3>
  <h4
    class="text-center px-3 md:px-24 font-normal text-4xl md:text-5xl text-primary-50"
    set:html={heading}
  />
  <div class="mt-8 px-6 max-w-4xl text-center font-normal text-primary-100">
    {description.map((desc) => <p class="mt-2">{desc}</p>)}
  </div>
  <div class="mt-10 flex flex-wrap justify-center max-w-5xl">
    <div class="w-full px-8 lg:px-0 md:w-1/2">
      <h5 class="text-center md:text-left font-bold text-2xl text-accent-200">
        {team.heading}
      </h5>
      <p class="lg:pr-9 text-justify text-primary-50">{team.paragraph}</p>
    </div>
    <div
      class="w-full md:w-1/2 lg:h-56 mt-5 md:mt-0 md:pr-8 lg:pr-0 rounded-sm overflow-hidden"
    >
      <ImageComp
        imagePath={team.imagePath}
        imageAlt={team.imageAlt}
        styles="object-cover object-center h-full hover:scale-110 duration-500 ease-in-out"
      />
    </div>
  </div>
  <div
    class="mt-12 max-w-5xl text-center md:text-left font-normal text-primary-100"
  >
    <div class="w-full mx-auto text-center">
      <h5 class="font-bold text-4xl text-primary-200">
        {marketing.heading}
      </h5>
      <p class="mt-4 px-6 lg:px-12 text-primary-50">{marketing.paragraph}</p>
    </div>
    <div class="mt-6 px-4 md:px-0 flex flex-wrap justify-center gap-5">
      {
        marketing.steps.map((step) => (
          <div class="w-full group py-5 md:w-1/4 bg-primary rounded-md hover:bg-primary-400 hover:ring-2 hover:ring-primary-100 duration-100 ease-in">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-24 my-3 mx-auto text-accent bg-primary-dark-400 rounded-full p-4 group-hover:bg-primary-100 duration-150"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d={step.icon}
              />
            </svg>

            <p class="mt-4 font-semibold py-2 text-center text-2xl uppercase bg-accent text-primary-dark-400">
              {step.title}
            </p>
            <p class="mt-4 text-primary-50 text-center px-5 group-hover:text-primary-dark-800">
              {step.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
