---
import { type CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
import {
  FaExternalLinkSquareAlt,
  FaFacebookSquare,
  FaInstagramSquare,
  FaLinkedin,
  FaYoutubeSquare,
} from "react-icons/fa";
import { FaSquareGithub, FaSquareXTwitter } from "react-icons/fa6";

export async function getStaticPaths() {
  const allCrew = await getCollection("crew");
  return allCrew.map((member) => ({
    params: { slug: member.slug },
    props: member,
  }));
}
type Props = CollectionEntry<"crew">;

const member = Astro.props;
const { Content } = await member.render();

const allPosts = await getCollection("blog"); // Get all blog posts by this author
const authorPosts = allPosts
  .filter((post) => post.data.author === member.data.name)
  .sort((a, b) => {
    const dateA = new Date(a.data.pubDate).getTime();
    const dateB = new Date(b.data.pubDate).getTime();
    return dateB - dateA;
  });
---

<BaseLayout
  siteTitle={`${member.data.name} | Right Rudder Marketing Flight Crew`}
  siteDescription={`This is a profile page for ${member.data.name}.  Right Rudder Marketing is a growing company that relies on the contributions of friends, family, partners, and an awesome hard working crew.  We are all passionate about the flight training business and our aim is to affect the aviation industry by training more safe and proficient pilots.`}
  keywords="team member, crew, CRM, crew resource management, teamwork, teamwork makes the dream work, all stars, developers, marketers, designers, copywriters, video-editors, full stack engineers, pilots, aviation consultant, aviation specialist, training, CFI, instructor"
>
  <div class="bg-primary-800 h-28 w-full"></div>
  <section class="relative py-16">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 max-w-4xl mx-auto break-words bg-white w-full mb-6 shadow-xl rounded-lg"
      >
        <div class="px-6">
          <div class="mt-12 flex flex-wrap justify-center">
            <div class="w-full lg:w-1/2 px-4 lg:order-2 flex justify-center">
              <div class="relative rounded-xl overflow-hidden">
                <img
                  src={member.data.image}
                  alt={member.data.name}
                  class="object-cover bg-black"
                />
              </div>
            </div>
          </div>
          <div class="text-center mt-6">
            <h1 class="text-5xl font-semibold leading-normal text-gray-700">
              {member.data.name}
            </h1>
            <div
              class="text-sm leading-normal mt-0 mb-2 text-gray-400 font-bold uppercase"
            >
              {member.data.title}
            </div>
            <div class="hidden" aria-hidden="true">
              Seniority: {member.data.seniority}
            </div>
            <div class="mb-2 text-gray-600 mt-10">
              Status: <br />{
                member.data.status === "active" && (
                  <strong class="text-primary-600">
                    Active RRM Crew Member
                  </strong>
                )
              }
              {
                member.data.status === "former" && (
                  <strong class="text-gray-400">Former RRM Crew Member</strong>
                )
              }
              {
                member.data.status === "external" && (
                  <strong class="text-gray-800">Guest Contributor</strong>
                )
              }
            </div>
          </div>
          <div class="text-center">
            <div
              class="mt-4 flex flex-wrap justify-center py-10 border-b border-gray-200"
            >
              <div class="w-full lg:w-9/12 px-4">
                <h3 class="font-bold text-2xl capitalize">
                  Connect with {member.data.name}
                </h3>
                <div class="mt-2 flex justify-center align-middle gap-1">
                  {
                    member.data.social?.facebook && (
                      <a
                        href={member.data.social.facebook}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaFacebookSquare size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social?.instagram && (
                      <a
                        href={member.data.social.instagram}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaInstagramSquare size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social?.linkedin && (
                      <a
                        href={member.data.social.linkedin}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaLinkedin size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social?.twitter && (
                      <a
                        href={member.data.social.twitter}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaSquareXTwitter size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social?.github && (
                      <a
                        href={member.data.social.github}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaSquareGithub size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social?.website && (
                      <a
                        href={member.data.social.website}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaExternalLinkSquareAlt size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social?.youtube && (
                      <a
                        href={member.data.social.youtube}
                        class="text-primary-dark hover:scale-125 hover:text-primary-700 duration-75"
                        target="_blank"
                      >
                        <FaYoutubeSquare size="40" />
                      </a>
                    )
                  }
                  {
                    member.data.social &&
                      Object.keys(member.data.social).length === 0 && (
                        <p>
                          {member.data.name} did not provide any links or social
                          media profiles
                        </p>
                      )
                  }
                </div>
              </div>
            </div>
            <div class="flex flex-wrap justify-center py-10">
              <div class="w-full lg:w-9/12 px-4">
                <div
                  class="mb-4 text-lg leading-relaxed text-gray-700 prose-a:hover:underline prose-a:font-semibold prose-a:text-primary-700"
                >
                  {member.body && <Content />}
                  {
                    !member.body &&
                      member.data.name +
                        " has not yet added their bio. Update coming soon."
                  }
                </div>
              </div>
            </div>
            {
              authorPosts.length > 0 && (
                <div class="mt-8 py-10 flex flex-wrap justify-center border-t border-gray-200">
                  <div class="px-4">
                    <h2 class="font-bold text-2xl capitalize">
                      Published Articles by {member.data.name}
                    </h2>
                    <div class="w-full flex flex-wrap gap-1 lg:gap-2 mt-16 mx-auto justify-center">
                      {authorPosts.map((post, index) => (
                        <article
                          class={`
                            relative group h-32 lg:m-0 isolate flex flex-col hover:scale-105 hover:rounded-none duration-300 justify-end overflow-hidden rounded-md bg-white px-8 pb-8 pt-40 lg:pt-44 
                              ${
                                authorPosts.length === 1
                                  ? "md:w-4/5 lg:w-3/5"
                                  : "md:w-2/5 lg:w-[30%] md:h-64"
                              }
                            `}
                        >
                          <img
                            src={post.data.heroImage}
                            alt={post.data.title}
                            class="absolute inset-0 -z-10 h-full w-full object-cover group-hover:scale-110 group-hover:brightness-125 duration-200"
                          />
                          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-primary-dark to-primary-dark/20 group-hover:bg-primary/60 duration-200" />
                          <h3 class="text-base text-left font-black leading-6 text-primary-100">
                            <a href={`/blog/${post.slug}/`}>
                              <span class="absolute inset-0" />
                              {post.data.title}
                            </a>
                          </h3>
                          <div class="flex flex-wrap items-center text-sm leading-6 text-gray-100">
                            <time class="mr-8 text-accent-400">
                              <FormattedDate date={post.data.pubDate} />
                            </time>
                          </div>
                        </article>
                      ))}
                    </div>
                  </div>
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
